@import "./colors.scss";
/* Overwriting https://github.com/logseq/logseq/blob/95149e13f64ebed72ca933474e233d3e395c837a/resources/css/common.css */

/* FONTS */
@font-face {
  font-family: "Sora";
  src: url("./Sora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Fira Code";
  src: url("./FiraCode-VariableFont_wght.ttf");
}

html {
  /* Enabling font ligatures */
  text-rendering: optimizeLegibility;
}

:not(pre) > code {
  font-family: Fira Code, Monaco, Menlo, Consolas, COURIER NEW, monospace;
}

/* VARIABLES */
/* all available color variables for reference */
/*
  transparent: 'transparent',
  current: 'currentColor',
  black: colors.black,
  white: colors.white,
  gray: colors.neutral,
  green: colors.green,
  blue: colors.blue,
  indigo: {
    50: '#f0f9ff',
    100: '#e0f2fe',
    200: '#bae6fd',
    300: '#7dd3fc',
    400: '#38bdf8',
    500: '#0ea5e9',
    600: '#0284c7',
    700: '#005b8a',
    800: '#075985',
    900: '#0c4a6e',
  },
  red: colors.red,
  yellow: colors.amber,
  orange: colors.orange,
  rose: colors.rose,
  purple: colors.purple,
  pink: colors.pink
  */

:root {
  /* LOGSEQ OVERWRITES */
  --ls-font-family: "Sora";

  /* TODO */
  --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
  --ph-link-color: #106ba3;

  /* DEFAULT LOGSEQ VARIABLES FOR REFERENCE */
  /* --ls-tag-text-opacity: 0.8;
    --ls-tag-text-hover-opacity: 1;
    --ls-page-text-size: 1em;
    --ls-page-title-size: 36px;
    --ls-main-content-max-width: 810px;
    --ls-main-content-max-width-wide: 1280px;
    --ls-scrollbar-width: 6px;
    --ls-border-radius-low: 4px;
    --ls-border-radius-medium: 8px;
    --ls-headbar-height: 3rem;
    --ls-headbar-inner-top-padding: 0px;
    --ls-left-sidebar-width: 246px;
    --ls-left-sidebar-sm-width: 74vw;
    --ls-left-sidebar-nav-btn-size: 38px;
    --ls-native-kb-height: 0px;
    --ls-error-color: var(--color-red-500);
    --ls-warning-color: var(--color-orange-500);
    --ls-success-color: var(--color-green-500);
    --ls-highlight-color-default: var(--ls-secondary-background-color);
    
    */
}

.dark-theme,
html[data-theme="dark"] {
  /* LOGSEQ OVERWRITES */
  --ls-primary-background-color: var(--color-gray-900);
  /* used for highlight, menu hover, blockquote bg, block properties bg, inline code bg, etc */
  --ls-secondary-background-color: var(--color-gray-800);
  /* used for block reference background, notification area, modal overlay, dropdown wrapper, etc */
  --ls-tertiary-background-color: var(--color-gray-700);
  /* link text hover color */
  --ls-active-secondary-color: var(--color-white);
  --ls-primary-text-color: var(--color-white);
  --ls-title-text-color: var(--color-white);
  --ls-link-text-color: var(--color-primary-200);
  --ls-block-bullet-border-color: var(--color-transparent);
  --ls-block-bullet-color: var(--color-primary-800);

  /* used for chosen element in lists */
  --ls-page-properties-background-color: var(--color-gray-900);

  --ls-pie-bg-color: var(--color-gray-800);
  --ls-table-tr-even-background-color: var(--color-gray-800);
  --ls-block-properties-background-color: var(--color-gray-700);

  --ls-block-highlight-color: var(--color-gray-800);
  --ls-quaternary-background-color: var(--color-gray-700);
  --ls-scrollbar-background-color: hsla(var(--color-gray-700), 0.1);
  --ls-guideline-color: var(--color-gray-700);

  --ls-scrollbar-foreground-color: var(--color-gray-600);
  --ls-border-color: var(--color-gray-600);
  --ls-pie-fg-color: var(--color-gray-600);

  --color-level-1: hsla(var(--color-gray-800-hsl), 0.5);
  --color-level-4: var(--color-gray-500);
  --ls-secondary-border-color: var(--color-gray-500);
  --ls-focus-ring-color: hsla(var(--color-gray-500) 0.5);

  --ls-block-ref-link-text-color: var(--color-gray-400);
  --color-level-5: var(--color-gray-400);

  --color-level-6: var(--color-gray-300);

  --ls-page-checkbox-color: var(--color-primary-700);

  --ls-active-primary-color: var(--color-gray-100);

  --ls-tertiary-border-color: rgba(0, 0, 0, 0.1);
  --ls-selection-background-color: var(--color-primary-900);
  --ls-selection-text-color: #fff;
  --ls-page-mark-color: hsl(0, 0%, 15%);
  --ls-page-mark-bg-color: var(--color-yellow-200);
  --ls-cloze-text-color: var(--color-primary-400);
  --ls-header-button-background: var(--color-gray-50);
  --ls-scrollbar-thumb-hover-color: hsla(0, 0%, 100%, 0.2);
  --ls-page-inline-code-bg-color: var(--ls-secondary-background-color);

  /* DEFAULT LOGSEQ VARIABLES FOR REFERENCE */
  /* 
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-link-text-hover-color: var(--ls-active-secondary-color);
    --ls-link-ref-text-color: var(--ls-link-text-color);
    --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
    --ls-tag-text-color: var(--ls-link-text-color);
    --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-page-checkbox-border-color: var(--ls-primary-background-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-icon-color: var(--ls-link-text-color);
    --ls-search-icon-color: var(--ls-primary-text-color);
    --ls-search-icon-hover-color: var(--ls-secondary-text-color);
    --ls-a-chosen-bg: var(--ls-quaternary-background-color);
    --ls-highlight-color-gray: var(--color-gray-900);
    --ls-highlight-color-red: var(--color-red-900);
    --ls-highlight-color-yellow: var(--color-yellow-900);
    --ls-highlight-color-green: var(--color-green-900);
    --ls-highlight-color-blue: var(--color-blue-900);
    --ls-highlight-color-purple: var(--color-purple-900);
    --ls-highlight-color-pink: var(--color-pink-900);
    --ls-error-text-color: var(--color-red-400);
    --ls-error-background-color: var(--color-red-900);
    --ls-warning-text-color: var(--color-yellow-400);
    --ls-warning-background-color: var(--color-yellow-900);
    --ls-success-text-color: var(--color-green-100);
    --ls-success-background-color: var(--color-green-900);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    */
}

.white-theme,
.light-theme,
html[data-theme="light"] {
  /* LOGSEQ OVERWRITES */
  --ls-primary-background-color: var(--color-gray-50);
  /* used for highlight, menu hover, blockquote bg, block properties bg, inline code bg, etc */
  --ls-secondary-background-color: var(--color-gray-100);
  /* used for block reference background, notification area, modal overlay, dropdown wrapper, etc */
  --ls-tertiary-background-color: var(--color-gray-200);
  /* link text hover color */
  --ls-active-secondary-color: var(--color-black);
  --ls-primary-text-color: var(--color-black);
  --ls-title-text-color: var(--color-black);
  --ls-link-text-color: var(--color-primary-700);
  --ls-block-bullet-border-color: var(--color-transparent);
  --ls-block-bullet-color: var(--color-primary-100);

  /* used for chosen element in lists */
  --ls-page-properties-background-color: var(--color-gray-50);

  --ls-pie-bg-color: var(--color-gray-100);
  --ls-table-tr-even-background-color: var(--color-gray-100);
  --ls-block-properties-background-color: var(--color-gray-200);

  --ls-block-highlight-color: var(--color-gray-100);
  --ls-quaternary-background-color: var(--color-gray-200);
  --ls-scrollbar-background-color: hsla(var(--color-gray-200), 0.1);
  --ls-guideline-color: var(--color-gray-200);

  --ls-scrollbar-foreground-color: var(--color-gray-300);
  --ls-border-color: var(--color-gray-300);
  --ls-pie-fg-color: var(--color-gray-300);

  --color-level-1: hsla(var(--color-gray-100-hsl), 0.3);
  --color-level-4: var(--color-gray-400);
  --ls-secondary-border-color: var(--color-gray-400);
  --ls-focus-ring-color: hsla(var(--color-gray-400) 0.5);

  --ls-block-ref-link-text-color: var(--color-gray-500);
  --color-level-5: var(--color-gray-500);

  --color-level-6: var(--color-gray-600);

  --ls-page-checkbox-color: var(--color-primary-700);

  --ls-active-primary-color: var(--color-gray-800);

  --ls-tertiary-border-color: rgba(0, 0, 0, 0.1);
  --ls-selection-background-color: var(--color-primary-50);
  --ls-selection-text-color: #fff;
  --ls-page-mark-color: hsl(0, 0%, 15%);
  --ls-page-mark-bg-color: var(--color-yellow-300);
  --ls-cloze-text-color: var(--color-primary-500);
  --ls-header-button-background: var(--color-gray-900);
  --ls-scrollbar-thumb-hover-color: hsla(0, 0%, 100%, 0.2);

  /* DEFAULT LOGSEQ VARIABLES FOR REFERENCE */
  // --ls-primary-background-color: #ffffff;
  // --ls-secondary-background-color: #f7f7f7;
  // --ls-tertiary-background-color: #eaeaea;
  // --ls-quaternary-background-color: #dcdcdc;
  // --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
  // --ls-active-primary-color: rgb(0, 105, 182);
  // --ls-active-secondary-color: #00477c;
  // --ls-block-properties-background-color: var(--ls-secondary-background-color);
  // --ls-page-properties-background-color: var(--ls-secondary-background-color);
  // --ls-block-ref-link-text-color: #d8e1e8;
  // --ls-border-color: #ccc;
  // --ls-secondary-border-color: #e2e2e2;
  // --ls-tertiary-border-color: rgba(200, 200, 200, 0.30);
  // --ls-guideline-color: rgba(46, 27, 5, 0.08);
  // --ls-menu-hover-color: var(--ls-a-chosen-bg);
  // --ls-primary-text-color: #433f38;
  // --ls-secondary-text-color: #161e2e;
  // --ls-title-text-color: var(--ls-header-button-background);
  // --ls-link-text-color: #106ba3;
  // --ls-link-text-hover-color: #1a537c;
  // --ls-link-ref-text-color: var(--ls-link-text-color);
  // --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
  // --ls-tag-text-color: var(--ls-link-ref-text-color);
  // --ls-tag-text-hover-color: var(--ls-link-ref-text-hover-color);
  // --ls-slide-background-color: #fff;
  // --ls-block-bullet-border-color: #dedede;
  // --ls-block-bullet-color: rgba(67, 63, 56, 0.25);
  // --ls-block-highlight-color: #c0e6fd;
  // --ls-selection-background-color: #e4f2ff;
  // --ls-selection-text-color: var(--ls-secondary-text-color);
  // --ls-page-checkbox-color: #9dbbd8;
  // --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
  // --ls-page-blockquote-color: var(--ls-primary-text-color);
  // --ls-page-blockquote-bg-color: #fbfaf8;
  // --ls-page-blockquote-border-color: #799bbc;
  // --ls-page-mark-color: #262626;
  // --ls-page-mark-bg-color: #fef3ac;
  // --ls-page-inline-code-bg-color: var(--ls-secondary-background-color);
  // --ls-page-inline-code-color: var(--ls-primary-text-color);
  // --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.1);
  // --ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
  // --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.2);
  // --ls-cloze-text-color: #0000cd;
  // --ls-icon-color: #646464;
  // --ls-search-icon-color: var(--ls-primary-text-color);
  // --ls-search-icon-hover-color: var(--ls-secondary-text-color);
  // --ls-a-chosen-bg: var(--ls-quaternary-background-color);
  // --ls-pie-bg-color: #e1e1e1;
  // --ls-pie-fg-color: #0a4a5d;
  // --ls-highlight-color-gray: var(--color-gray-100);
  // --ls-highlight-color-red: var(--color-red-100);
  // --ls-highlight-color-yellow: var(--color-yellow-100);
  // --ls-highlight-color-green: var(--color-green-100);
  // --ls-highlight-color-blue: var(--color-blue-100);
  // --ls-highlight-color-purple: var(--color-purple-100);
  // --ls-highlight-color-pink: var(--color-pink-100);
  // --ls-error-text-color: var(--color-red-600);
  // --ls-error-background-color: var(--color-red-100);
  // --ls-warning-text-color: var(--color-yellow-700);
  // --ls-warning-background-color: var(--color-yellow-100);
  // --ls-success-text-color: var(--color-green-800);
  // --ls-success-background-color: var(--color-green-100);
  // --ls-focus-ring-color: rgba(66, 133, 244, 0.5);
  // --ls-header-button-background: rgba(15, 20, 25, 1);
  // --color-level-1: var(--ls-secondary-background-color);
  // --color-level-2: var(--ls-tertiary-background-color);
  // --color-level-3: var(--ls-quaternary-background-color);
  // --color-level-4: #d0e6fa;
  // --color-level-5: #bbdaf6;
  // --color-level-6: #a7cef1;
}

/* ARBITRARY COLOR OVERWRITES */
/* regex to find all arbitrary colors: --[a-z,A-Z,\-,0-9]*: (#|rgb|hsl) */
@media (prefers-color-scheme: dark) {
  html {
    background-color: var(-ls-primary-background-color);
  }

  html[data-theme="light"] {
    background-color: var(--ls-primary-background-color);
  }
}

pre.code {
  background: #282a36;
}

.dnd-separator {
  border-bottom: 3px solid #ccc;
}

span.priority {
  color: #6b7280;
}

a.nav-item:hover,
a.star-page:hover {
  background-color: #00242d;
}

mark > code {
  background: #fef3ac !important;
  color: #262626 !important;
}

html[data-theme="light"] .keyboard-shortcut > code {
  box-shadow: inset 0 -1px 0 #433f3855, 0 0 1px 1px #433f3822;
}

/* BULLETS */
.bullet-closed .bullet {
  width: 4px;
  height: 4px;
}

/* CHECKBOXES */
.doing .form-checkbox {
  background-color: var(--color-yellow-500);
}

.form-checkbox {
  border-radius: 4px;

  &:checked {
    background-color: var(--color-gray-500);

    &:focus {
      background-color: var(--color-gray-700);
    }

    &:hover {
      background-color: var(-color-gray-600);
    }
  }
}

/* TODOS */
.block-marker {
  opacity: 1;
  position: relative;
  z-index: 1;

  &.TODO,&.LATER {
    color: var(--color-primary-700);
  }

  &.DOING,&.NOW {
    color: var(--color-yellow-500);
  }

  &.WAITING {
    color: var(--color-gray-400);
  }
}

.done {
  opacity: 1;
}

/* BLOCK PROPERTIES */
.block-properties {
  border: 3px solid var(--color-gray-700);
  border-radius: 8px;
  opacity: 0.6;
}

/* HELP BUTTON */
.cp__sidebar-help-btn {
  display: none;
}